body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #a4d1e9;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
}
h2 {
    color: #ffffff;
    text-align: center;
    margin: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #cccaca;
    border: 1px solid black;
}
button {
    background-color: rgb(81, 160, 160);
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
button:hover {
    background-color: #031c20;
}